doctype html
head
  title  . 
  meta(charset='utf-8')
  meta(name='description' content='description...')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  //- <link rel='icon' type='image/png' href='images/favicon.png'>
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Basic&family=Alike&family=Alike+Angular&display=swap')
  link(rel='stylesheet' href='../styles/transcript.styl')


body
    h1 Episode 1: le handicap aux mutliples visages
    h2 Dans cette première partie, nous évoquons les différents types de handicap reconnus par l'Organisation Mondiale de la Santé, et nous arrêtons plus en détail sur ceux auxquels les interfaces vocales peuvent apporter une aide précieuse.
//- script(type='text/javascript' src='ts/app.ts' defer)