<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Crédits | Pouvoix'r : La voix au service de l'inclusion
          link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Basic&family=Alike&family=Alike+Angular&display=swap')
        link(rel="stylesheet", href="./styles/credits.styl")
    body
        .top-bar
            a(href="./", title="title") Le podcast
            a(href="https://castbox.fm/channel/Pouvoix'R-id3055315?country=fr", title="Lien castbox") Écouter sur Castbox
            a(href="./credits", title="title") Credits

        .credits
            p Ce podcast a été écrit, enregistré et réalisé par Jacques Airey, Aymeric Arnoult et Aurélien Duberville.
            p Nous voudrions adresser nos remerciements à Monsieur Julien Vey pour l'encadrement bienveillant et pour ses conseils toujours justes, et Messieurs Romain Dao et Sébastien Delormes pour nous avoir cordé leur temps, donné leur point de vue sur ce sujet passionant, et prêté leur voix.
            p Montage réalisé par Jacques Airey.
            p Site construit par Aymeric Arnoult.
            p Ensemble des sources :
            p
            | 