doctype html
head
  title  . 
  meta(charset='utf-8')
  meta(name='description' content='description...')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // <link rel='icon' type='image/png' href='images/favicon.png'>
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Basic&family=Alike&family=Alike+Angular&display=swap')
  link(rel='stylesheet' href='./styles/style.styl')

body
  .intro
    h1 Pouvoix’R : La voix au service de l’inclusion
    em Bienvenue dans ce livre audio qui va vous expliquer plein de trucs
    button Commencer
    
  .particles#particles-js

  .app.invisible
    .pannel
      .content
        h3 #{d[0].title}
        p #{d[0].content}
      audio(src="./media/episode_1.mp3")
          Your browser does not support the
          <code>audio</code> element.
      .audio-controls
        button.backward
          img(src="media/img/backward.svg", alt="< 10 sec")
        button.play
          img(src="media/img/icon.svg", alt="Play.")
        button.forward
          img(src="media/img/forward.svg", alt="10 sec >")

    .controls
      .inner
        button.previous précedent
        button.next next
script(type='x-shader/x-fragment' src='ts/vertexShader.vert' id="vertexShader")
script(type='text/javascript' src='ts/app.ts')